*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:linear-gradient(180deg,#0b1026,#1b1f3b,#2d1b69);
    color:white;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.inicio{
    text-align:center;
    max-width:700px;
    padding:30px;
}

h1{
    font-size:60px;
    margin-bottom:20px;
}

h2{
    font-size:30px;
    margin-bottom:20px;
    color:#ffd369;
}

p{
    font-size:22px;
    line-height:1.8;
}

button{
    margin-top:40px;
    padding:18px 40px;
    font-size:22px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    background:#ff4d88;
    color:white;
    transition:.3s;
}

button:hover{
    transform:scale(1.1);
}
.estrellas{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(white 1px, transparent 1px),
        radial-gradient(#ffd369 1px, transparent 1px);

    background-size: 80px 80px,120px 120px,200px 200px;

    opacity: .6;
animation: brillar 4s ease-in-out infinite;
    z-index: -1;
}
@keyframes brillar{

    0%{
        opacity:0.4;
    }

    50%{
        opacity:0.8;
    }

    100%{
        opacity:0.4;
    }

}
.luna{
    position: fixed;
    top: 50px;
    right: 50px;
    width: 120px;
    height: 120px;
    background: #fff8dc;
    border-radius: 50%;
    box-shadow: 0 0 40px #fff8dc,
                0 0 80px #fff8dc;
    z-index: 10;
}
